@page "/"

<h1 class="text-center">Hello, world!</h1>

<div class="container" style="background-color:lemonchiffon">
    <p>
        Welcome to your new app. This is a Blazor-made website made for fun to archive 39Daph's streaming content! <br />
        This is largely serving as an introductory personal project for my hopeful software developing career. <br />
        To differentiate itself from the VOD channel on Youtube, this website:
        <ul>
            <li>
                Consolidates the games Daph has played in an easier-to-browse visual-style with actual game cover art, like a library
                (rather than having to scroll through countless videos on the VOD channel)
            </li>
            <li>
                Provides genres for the user to filter games played by
            </li>
        </ul>

        Future additions I have planned for this website to provide further services are:
        <ul>
            <li>
                Allowing authorized users to add, update, edit, and delete entries (games) in the database -- via the website, not the database directly.
            </li>
            <li>
                Automatically hooking into the main Youtube channel and VOD channel, to update entries in the website whenever new videos are posted
            </li>
            <li>
                Implementing an "emote leaderboard" or "most-typed emotes" per game/stream playthrough. Twitch provides a lot of API references so that's cool
            </li>
            <li>
                Overall aesthetic enhancements
            </li>
        </ul>

        <center><b>I am actively working on this website! Though, because I'm eager to apply for jobs, I'm putting this up (on Github) now -- even though it is not nearly complete.</b></center>

    </p>
</div>


@code {

}