@page "/"

<h1 class="text-center">Hello, world!</h1>

<div class="container" style="background-color:lemonchiffon">
    <p>
        Welcome to your new app. This is a Blazor-made website made for fun to archive 39Daph's streaming content! <br />
        This is largely serving as an introductory personal project for my hopeful software developing career. <br />
        To differentiate itself from the VOD channel on Youtube, this website:
        <ul>
            <li>
                Consolidates the games Daph has played in an easier-to-browse visual-style with actual game cover art, like a library
                (rather than having to scroll through countless videos on the VOD channel)
            </li>
            <li>
                Provides genres for the user to filter games played by
            </li>
        </ul>

        Future additions I have planned for this website to provide further services are:
        <ul>
            <li>
                Allowing only authorized users to add, update, edit, and delete entries (games) in the database -- via the website, not the database directly.
                Currently anybody can perform these actions.
            </li>
            <li>
                Automatically hooking into the main Youtube channel and VOD channel, to update entries in the website whenever new videos are posted
            </li>
            <li>
                Implementing an "emote leaderboard" or "most-typed emotes" per game/stream playthrough. Twitch provides a lot of API references so that's cool
            </li>
            <li>
                Overall aesthetic enhancements
            </li>
        </ul>

        <center>
            <button @onclick="OpenPopup">Click for version history</button>
        </center>

        <center><b>I am actively working on this website! Though, because I'm eager to apply for jobs, I'm putting this up (on Github) now.</b></center>

    </p>
</div>

@if (ShowPopup)
{
    <!-- This is the popup to create a game's display -->
    <div class="modal overflow-auto" tabindex="-1" style="display:block" role="dialog" @onclick="@ClosePopup">
        <div class="modal-dialog">

            <!-- Modal content -->
            <div class="modal-content" onclick="event.stopPropagation();">
                <!-- Header -->
                <div class="modal-header">
                    <h3 class="modal-title" style="font-family:LemonJuice">Version history</h3>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <label style="font-weight:bold">Version 0: 09/06/2021</label> <br />
                    <p>
                        This was the base/prototype. In this version, the website could do was:
                        <ul>
                            <li>Populate models from their corresponding table in the SQL database</li>
                            <li>List the genres and games</li>
                            <li>Create a modal upon clicking a game, that then binds to data of the game and displays it</li>
                        </ul>
                    </p>

                    <label style="font-weight:bold">Version 1: 09/14/2021</label> <br />
                    <p>
                        This update:
                        <ul>
                            <li>Makes a modal be closed by clicking outside of it, instead of only being able to click the Close button</li>
                            <li>Allows a user to add a game to the SQL database</li>
                        </ul>
                    </p>

                    <label style="font-weight:bold">Version 2: 09/22/2021</label> <br />
                    <p>
                        This update:
                        <ul>
                            <li>Provides the remaining CRUD actions (update/edit and delete) to be performed. Currently anybody can do it</li>
                            <li>The user can edit a game name or game cover.</li>
                            <li>Implemented ability to filter games by genre</li>
                            <li>Dropped an unnecessary ID string column from every table; this string was a string version of the uniqueidentifier ID that was used initially</li>
                            <li>Added an additional table connected to Game, which will hold video URL's for the respective game</li>
                        </ul>
                    </p>

                    <label style="font-weight:bold">Version 3: 09/30/2021</label> <br />
                    <p>
                        This update:
                        <ul>
                            <li>Provides further CRUD capabilities by allowing the user to add a genre to a game.</li>
                            <li>Allows the user to move the modal.</li>
                        </ul>
                    </p>

                    <label style="font-weight:bold">Future actions</label> <br />
                    <p>
                        <ul>
                            <li>Implement authorization so only authenticated and authorized users can CREATE, UPDATE, and DELETE. (!important) (1st priority)</li>
                            <li>Allow the user to: edit genres, remove genres to a game, provide YouTube links for a provided game</li>
                        </ul>
                    </p>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@code {
    public bool ShowPopup { get; set; } = false;
    void ClosePopup()
    {
        // Close the modal
        ShowPopup = false;
    }

    void OpenPopup()
    {
        // Open the Popup
        ShowPopup = true;
    }

}