@inherits LayoutComponentBase
@using _39StreamingLibrary.Pages

<div class="container-fluid d-flex p-0">
    <div class="page min-vh-100 min-vw-100 flex-column">
        <div>
            <NavMenu />
        </div>

        <div class="main">
            <div class="content m-2 px-4 ">
                @Body
            </div>
        </div>

    </div>
</div>
